# Dirección de correo electrónico con la que se firmarán los XMLs
EMAIL=reutilitza@gmail.com

# Configuración para subir los ficheros XML
HOST_SFTP=t1000.pangea.org
PORT_SFTP=2222
USER_SFTP=donator_client
PASS_SFTP=d0n4t0rCl13nt
